{% if EDUCATIONS %}
<section class="section educations-section">
    <h2 class="section-title"><i class="fa fa-institution"></i>Education</h2>
    {% for education in EDUCATIONS %}
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="degree">{{ education['degree'] }}</h4>
                    <div class="info">{{ education['meta'] }}</div>
                    <p> </p>
	                  <h5 class="time">{{ education['time'] }}</h5>
                </div><!--//upper-row-->
            </div><!--//meta-->
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}
