{% if EXPERIENCES %}
<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    {% for experience in EXPERIENCES %}
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="degree">{{ experience['job_title'] }}</h4>
                    <div class="info">{{ experience['company'] }}</div>
                    <p> </p>
	                  <h5 class="time">{{ experience['time'] }}</h5>
                </div><!--//upper-row-->
            </div><!--//meta-->
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}
