{% if PROJECTS %}
<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    {% for project in PROJECTS %}
        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h4 class="degree"> {{ project['title'] }}</h4>
              <h5 class="position">{{ project['position'] }}</h5>
              <div class="info">{{ project['tagline'] }}</div>
            </div><!--//item-->
          </div><!--//item-->
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}
