<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
 
<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC }}{% else %}profile.png{% endif %}" alt="profile picture" />
        <h1 class="name">{% if NAME %}{{NAME}}{% else %}Alan Doe{% endif %}</h1>
        <h3 class="tagline">{% if TAGLINE %}{{TAGLINE}}{% else %}Full Stack Developer{% endif %}</h3>
        <h3 class="tagline"> Current location: {% if  CURRENT_LOCATION %}{{CURRENT_LOCATION}}{% else %} Russia, Moscow{% endif %} </h3>
    </div><!--//profile-container-->
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
           {% if EMAIL %}
           <li class="email visible-print-block"><b>Email:</b> <p>{{EMAIL}}</p></li>
            <li class="email no-print">
              <i class="fa fa-envelope no-print">
                <button class="email no-print" style="background-color: transparent;"
                  <a href="{{EMAIL}}" onclick="copyURI(event)"></a>
                  Copy email</button>
                  <i class="email no-print" id="printHere" style="font-size: 14px;" ></i>
              </i>
            </li>
            {% endif %}
            
            {% if PHONE %}
            <li class="phone visible-print-block"><b>Phone:</b> <p>{{PHONE}}</p></li>
            <li class="phone no-print"><i class="fa fa-phone"></i><a href="{{PHONE}}">{{PHONE}}</a></li>
            {% endif %}
            
            {% if LINKEDIN %}
            <li class="linkedin visible-print-block"><b>LinkedIn:</b> <p>{{LINKEDIN}}</p></li>
            <li class="linkedin no-print"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{LINKEDIN}}" target="_blank">{{LINKEDIN}}</a></li>
            {% endif %}
            
            {% if GITHUB %}
            <li class="github visible-print-block"><b>BitBucket:</b> <p>{{GITHUB}}</p></li>
            <li class="github no-print"><i class="fa fa-github"></i><a href="{{GITHUB}}" target="_blank">{{GITHUB}}</a></li>
            {% endif %}

            <li class="email no-print"> <i class="fa fa-whatsapp" ></i>Type of communication: {{TYPE_OF_COMM}} </li>

            <li class="email visible-print-block"><b>Type of communication:</b> <p>{{TYPE_OF_COMM}}</p> </li>

            <li class="email no-print"><i class="fa fa-floppy-o"></i><a href="./pdf/budaltso_resume.pdf" target="_blank">Get PDF</a></li>

        </ul>
    </div><!--//contact-container-->

   {% include 'includes/language.html' %}
   {% include 'includes/interests.html' %}
</div><!--//sidebar-wrapper-->
