{% if COURSES %}
<section class="section educations-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Licenses & certifications</h2>
      {% for course in COURSES %}
        <div class="item">
            <div class="meta">
                <div class="upper-row">
	                  <h4 class="name">{{ course['name'] }}</h4>
	                  <div class="author">{{ course['author'] }}</div>
                    <p> </p>
	                  <h5 class="time">{{ course['issued'] }}</h5>
                </div><!--//upper-row-->
            </div><!--//meta-->
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}
